* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(227, 185, 135);
}
 
a {
    color: rgb(103, 64, 18);
    font-family: fantasy;
    font-size: 150%;
}
 
 
.restaurantnavn {
    text-align: center;
    font-size: 200%;
}
 
.restaurantnavn h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 300%;
}
 
.restaurantnavn h2 {
    font-size: 150%;
}
 
.menyen {
    margin-left: 25%;
    margin-top: 10%;
}
 
.menyen ul li {
    list-style: georgian;
}
 
.menyen h3 {
    font-size: 200%;
}
 
.menyen h6 {
    font-size: 150%;
    margin: 30px;
}

.menyen h4 {
    color: rgb(94, 57, 12);
    margin-top: 0px;
    margin-bottom: 0px;
}
 
.forrett {
    margin-bottom: 100px;
}
 
.hovedretter {
    margin-bottom: 100px;
}
 
.desserter {
    margin-top: 0px;
}

.allergener {
    color: red;
}

.footer {
    margin-left: 15%;
    margin-top: 10%;
}

.footer ul li {
    list-style: none;
    margin-top: 0%;
    font-size: 105%;
}

.footer h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 200%;
    margin-left: 15%;
    margin-top: 150px;
    margin-bottom: 0px;
}

.footer h5 {
    font-size: 150%;
}

.footer.åpningstider {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    margin-left: 4%;
    margin-top: 0px;
}
