* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(227, 185, 135);
}
 
.navbar {
    overflow: hidden;
    background-color: rgb(227, 185, 135);
    padding: 20px 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 40px;
    line-height: 25px;
    border-radius: 4px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(103, 64, 18);
    font-family: fantasy; 
  }
  
  .navbar .logo {
    font-size: 40px;
    font-weight: bold;
    color: rgb(103, 64, 18);
    font-family: fantasy;
    font-size: 40px; 
  }

  .navbar a:hover {
    background-color: rgb(145, 112, 55);
    color: black;
  }
  
 
  
  * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

  /* Navigation bar ^^*/





.info h2 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 300%;
}

.info.intro{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 50px;
  font-size: 130%;
}

img.italia{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer h5 {
  font-size: 150%;
}

.footer {
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 100px;
}

.footer ul li {
  list-style: none;
  text-align: left;
  margin-top: 0%;
  font-size: 105%;
}

.footer.åpningstider {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  margin-left: 4%;
  margin-top: 0px;
}




