



#overskrift1 {
    font-size: small;
    color: black;

    margin-left: 45px;
}

.sidebar {
    float: right;
    width: 13%;
    margin-right: 50px;

    font-size: 60%;
}

.sidebar img {
    width: 100%;
}

.sidebar figcaption {
    font-size: 70%;
}

.sidebar p {
    text-indent: 2em;
    margin-bottom: 1px;
    margin-top: 1px;
}

img.mann{
  display: flex;
  margin-left: 5px;
  width: 80%;
  height: 400px;
}


.tittelbilde figcaption {
    border-style: solid;
    border-color: rgb(161, 161, 161);
    width: 80%;
    margin-left: 5px;
    font-size: 60%;
}

.innledning {
    width: 600px;
    border: 2px solid transparent;
    padding: 0px;
    margin: auto;
    font-size: small;
    display: flex;
    width: 70%;
}

.innhold {
    font-size: 80%;
    columns: 2;
    width: 75%;
    
}
