#overskrift1 {
    font-size: larger;
    color: aquamarine;
}

img.mann{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.innledning {
    width: 300px;
    border: 15px solid gray;
    padding: 50px;
    margin: auto;
}
